body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.bannerInicial {
    width: 100%;
}

.sobreBarbearia {
	width: 940px;
    margin: 0 auto;
    padding: 2em 0;
    background: #FEFEFE;
}

.sobreBarbearia h2 {
	font-size: 30px;
    font-weight: bold;
    margin: 0 0 1em;
    text-align: center;
    clear: left;
}

.imagemUtensilios {
    width: 120px;
    float: left;
    margin: 0 15px 15px 0;
}

.descricaoSobre {
	font-size: 18px;
	padding: 12px 12px;
}

.fraseDestaque {
	font-size: 22px;
	font-weight: bold;
}

.fraseDestaque strong {
	font-weight: bold;
	color: red;
	font-style: italic;
}

.mapa {
    padding: 2em 0;
    text-align: center;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 1em;
}

.mapa p {
    font-size: 18px;
	margin: 0 0 2em;
}

.mapaCentralizado {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 2em 0;
    clear: left;
    background: #888888;
}

.beneficios h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 1em;
}

.conteudoBeneficios {
    width: 640px;
    margin: 0 auto;
}

.listaBeneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itensBeneficios {
    line-height: 1.5;
}

.itensBeneficios:first-child {
    font-weight: bold;
}

.itensBeneficios:before {
    content: "★ ";
}

.bannerBeneficios {
    width: 60%;
}

.videoBarbearia {
    width: 560px;
    margin: 2em auto;
}

footer {
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}